*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
body{
    background: linear-gradient(to bottom, #9966ff 30%, #ff99cc 75%) no-repeat;
    height: 100%;
    
}
.navbar{
    display: flex;
    display: inline;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(148, 40, 170);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li  a:hover{
    background-color: lightblue;

}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.container{
    margin-top: 40px;
    margin-left: 20%;
}
.cards{
    margin-left: 10px;
    border: solid grey 2px;
    font-size: 2vh;
    display:grid;
    width: 25%;
    height: 45vh;
    display: inline-block;
    box-shadow:5px 10px;
    margin-bottom: 30px;
    background-color: white;
    cursor: pointer;
 
    
}
.cards2{
    margin-left: 20%;
    border: solid grey 2px;
    display:grid;
    width: 25%;
    height: 45vh;
    display: inline-block;
    box-shadow:5px 10px;
    margin-bottom: 30px;
    background-color:white ;
    animation: bounce 1s infinite;
}
.cards:hover,.cards2:hover{
    animation: bounce 2s infinite;
} 
.pic:hover{
    opacity: 70%;
    
}

@keyframes bounce{
    20%,50%,80%,to{
        transform:translateY(0);
    }
    40%{
    transform:translateY(-30px);
    }
    70%{
        transform:translateY(-15px);
    }
    90%{
        transform:translateY(-4px);
    }
}

.pic{
    height: 20vh;
    width:100%;
    
}
.pic2{
    height: 20vh;
    width:100%;
    border-bottom: solid black 1px;
}
h3{
    text-align: center;
    margin-top: 5px;
}
.btn2{
    display: inline-block;
    text-decoration: none;

    background-color: #9966ff;
    width: 10vh;
    border-radius: 1.3em;
    margin-left:40px;
    padding: 8px;
    font-weight: bold;

}
.btn1{
    display: inline-block;
    text-decoration: none;
    background-color: #9966ff;
    width: 10vh;
    border-radius: 1.3em;
    margin-left:35%;
    padding: 8px;
    font-weight: bold;

}
.btn2:hover, .btn1:hover{
    background-color: pink;
}

.btn2 a{
    text-decoration: none;
}
p{
    padding: 10px;
    text-align: center;
    
}
footer{
    text-align: center;
    color:white;
    background-color: rgb(148, 40, 170);
    padding: 30px;

}
.social{
    margin-top:5px;
    height:5vh;
}